/* Variables globales */
:root {
  --main-color: #368644;;
  --bg-color: #f9f9f9;
  --text-color: #333;
  --border-radius: 10px;
  --spacing: 10px;
  --font-size: 16px;
}

/* Contenedor principal del filtro */
.filter {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center; 
  margin: 20px auto;     
  padding: 20px;
  max-width: 900px;       
  width: 95%;             
  background-color: rgba(71, 70, 70, 0.8); 
  border-radius: var(--border-radius);
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box; /* 🔑 padding incluido en el ancho */
}

/* Cada grupo dentro del filtro */
.filter__group {
  width: 100%;             
  margin-bottom: 20px;     
  align-items: center;
  border-collapse: collapse;
}

/* Títulos de los grupos */
.filter__group-title {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Inputs de texto */
.filter__input {
  width: 100%;
  padding: 6px;
  margin: 5px 0; /* elimina auto */
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  display: block;
  box-sizing: border-box; /* 🔑 hace que borde y padding no desplacen */
}

/* Botón principal */
.filter__button {
  padding: 8px 16px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-size);
  transition: background-color 0.3s ease;
  display: flex;
  flex-wrap: wrap; /* Para que sean responsivos */
  gap: 10px;
  margin-top: 5px;
}

.filter__button:hover {
  background-color: darken(var(--main-color), 5%);
}

/*Botones especificos de filtrado compañia y area*/
.filter__company-button,
.filter__area-button {
  margin: 1%;
  flex-wrap: wrap; /* Para que sean responsivos */
  gap: 10px;
  margin-top: 5px;
  justify-content: center; 
  background-color: #368644; 
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 8px 12px;
  cursor: pointer;
  font-size: var(--font-size);
  transition: background-color 0.3s ease;
}
.filter__company-button:hover,
.filter__area-button:hover {
  background-color: darken(var(--main-color), 5%);
}

/* Estado seleccionado botones compañia y area*/
.filter__company-button--selected,
.filter__area-button--selected {
  background-color: #00796b;
}

/* Responsividad----------------------------------------------------------------------*/
@media (max-width: 480px) {
  .filter__company-button,
  .filter__area-button {
    padding: 10px 14px;
    font-size: 14px;
    flex: 1 1 calc(50% - 10px); /* dos botones por fila si hay espacio */
    text-align: center;
  }
  .filter {
    padding: 15px;
  }
}

@media (max-width: 320px) {
  .filter__company-button,
  .filter__area-button {
    flex: 1 1 100%; /* un botón por fila */
    font-size: 12px;
  }
}
/*------------------------------------------------------------------------------------*/