/* Contenedor general de la tabla */
.table__container {
  width: 100%;
  max-width: 1200px; /* limite para pantallas grandes */
  border-collapse: collapse;
  margin: 20px auto; /* centrado horizontal */
  background-color: #ffffff;
  color: #000;
  border-radius: 8px;
  overflow-x: auto; /* scroll horizontal si es necesario */
}

/* Encabezados y celdas */
.table__container th,
.table__container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table__container th {
  background-color: #27ae60; /* verde oscuro ReSimple */
  color: #fff;
}

/* Paginación */
.pagination__container {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  justify-content: center; /* centrado horizontal */
}

.pagination__container button {
  padding: 5px 10px;
}

.page__active {
  font-weight: bold;
  background-color: #145a32; /* verde más oscuro ReSimple */
  color: #fff;
}
